[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "musclesyneRgies"]
	path = musclesyneRgies
	url = https://github.com/alesantuz/musclesynergies
